.jumbotron {
  width: 100vw;
	max-height: 400px;
	background-position: center;
	background-size: cover;

	display: flex;
	align-items: center;

	@include breakpoint-down(medium) {
		justify-content: center;
	}

	&-content {
		// text-align: end;
		@include breakpoint-down(medium) {
			text-align: center;
		}
	}
}